@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700);

//Variables
@header-height: 50px;
@transactions-width: 300px;
@transactions-control-height: 80px;
@wallets-width: 250px;
@footer-height: 120px;

body {
  font-family: 'Share Tech Mono';
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: @header-height;
  background: #101121;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: @header-height;
  color: white;
}
.transactions-container {
  position: fixed;
  top: 50px;
  left: 0;
  width: @transactions-width;
  height: ~"calc(100vh - @{header-height})";
  overflow-y: scroll;
  background: #35356b;
  padding: 10px;
  padding-top: ~"calc(@{transactions-control-height} + 10px)";

  .transaction-contents {
    margin: 5px !important;
  }

  .control {
    position: fixed;
    top: @header-height;
    left: 0px;
    height: @transactions-control-height;
    width: @transactions-width;
    background: #1c1c49;
    overflow: scroll;
    padding: 10px;

    .button {
      padding: 10px !important;
    }

    .label {
      font-size: 14px;
      margin-bottom: 5px;
      font-family: "Roboto Mono";
      color: white;
    }
  }
}



.blockchains-container {
  width: ~"calc(100vw - @{transactions-width} - @{wallets-width})";
  height: ~"calc(100vh - @{header-height} - @{footer-height})";
  position: fixed;
  left: @transactions-width;
  top: @header-height;
  background: black;
}

.wallets-container {
  position: fixed;
  top: 50px;
  right: 0;
  width: @wallets-width;
  height: ~"calc(100vh - @{header-height})";
  overflow-y: scroll;
  background: #35356b;
  padding: 10px;


  .wallet-contents {
    padding: 30px 15px 0px 15px !important;
    margin: 5px !important;
    span.amount {
      font-size: 18px;
      position: relative;
      top: 3px;
    }
    .ui.inverted.yellow.button {
      padding: 5px;
    }
  }
}


.footer-container {
  position: fixed;
  bottom: 0px;
  left: @transactions-width;
  width: ~"calc(100vw - @{transactions-width} - @{wallets-width})";
  height: @footer-height;
  padding: 10px;
  background: #2f2f2f;
}



//Extras//

.tuckcoin {
  font-size: 12px;
  .fa-circle {
    color: #610ab7;
    //color: #e8e403;
    z-index: 3 !important;
  }
  .fa-tumblr {
    //color: black;
    color: white;
    z-index: 3 !important;
  }
}

.tuckcoin.hero {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  font-size: 50px;
  text-align: center;
  z-index: 3 !important;
}

//Utilities//

.drop-shadow {
  box-shadow: 0px 6px 10px -3px rgba(0,0,0,0.5);
}

.drop-shadow-upwards {
  box-shadow: 0px -6px 10px -3px rgba(0,0,0,0.5);
}

//Overrides//
.header {
  font-family: 'Roboto Mono' !important;
}
.ui.top.attached.label:first-child + :not(.attached) {
  margin-top: 0 !important;
}